body { color: #88f; }

#logs {
    height: 75px;
    font-size: 0.9em;
    font-family: monospace;
    overflow: auto;
}

#logs .debug { color: #88c; }
#logs .info { color: #8c8; }
#logs .warning { color: #f82; }
#logs .error { color: #c88; }

#songs {
    display: none;
}

.progress {
    display: block;
    background-color: #ccc;
    height: 5px;
}

.metro > * .content {
    padding: 4px;
    text-align: center;
}

.metro > * {
    display: block;
    float: left;
    overflow: hidden;
}

.metro .outer {
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    height: 80px;
    line-height: 30px;
}

.metro {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 4px;
    padding: 0px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.playing .outer {
    background-color: #efe;
}

form {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

#addJingle .shortText {
    width: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.hidden {
    display: none;
}

#sideColumn {
    float: right;
    width: 30%;
}

small.help {
    color: #ccc;
    font-size: 9px;
    font-weight: normal;
}

small.help:hover {
    color: #000;
}
